// TODO

.Container {
    background: #1A1D23;
    position: relative;
    width: 1440px;
    font-family: Roboto;
    align-items: center;
    color:aliceblue;
    display: flex;
    
}

.PostPage {
    position: absolute;
    width: 700px;
    height: 108px;
    left: 370px;
    top: 170px;
    

    h1 {
         position: relative;
         left: 0%;
         right: 0%;
         top: 0%;
         bottom: 68.52%;

         font-family: Inter;
         font-style: normal;
         font-weight: bold;
         font-size: 28px;
         line-height: 34px;
         /* identical to box height */

         text-align: justify;
         letter-spacing: -0.5px;

        /* Heading */
        cursor: pointer;
        color: #F8F8F8;
        transition: all 0.2s ease-in;

        &:hover {
            color: #FF57B2;
            
          }
          

    }

   

    time {
         position: relative;
         left: 0%;
         right: 28.57%;
         top: 3.89%;
         bottom: 40.74%;
         color: #D7D7D7;
     }

    .Author {
         position: relative;
         left: 25%;   
         bottom: 0%;  
         top: -12px; 
         color: #D7D7D7;
     }

     .Subtitle {
        position: relative;
        left: 0%;
        right: 28.57%;
        top: 3.89%;
        bottom: 40.74%;

        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

        color: #D7D7D7;

        
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }

        
     }

.LoadPost {
        position: absolute;
        width: 176px;
        height: 22px;
        left: 368px;
        top: 750px;
        background-color: #1A1D23;
        border: none;

        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        cursor: pointer;

        
        text-align: justify;
        color:#e081b4;
        transition: all 0.2s ease-in;

        &:hover {
        color: #FF57B2;
        
      }

      &:after{
        content: "";
        position: absolute;
        background-color: #FF57B2;
        height: 3px;
        width: 0%;
        left: 0;
        bottom: -10px;
        transition: 0.3s;

      }
      &:hover:after {
     width: 100%
    }
}

