// TODO

.Container {
    background: #1A1D23;
    position: relative;
    width: 1440px;
    font-family: Roboto;
    align-items: center;
    color:aliceblue;
    display: flex;
    
}

.posts {
    
}